/* 
* Style sheet for Country App project
*/

/* Use base-styles from original style sheet */
@import url("styles.css");

/* Create global styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	transform: translateY(50px);
	color: whitesmoke;
}

h2 {
	text-shadow: 4px 4px black;
	transform: translateY(-30px);
	margin-bottom: 10px;
}

h3 {
	margin-top: 0px;
}

#language {
	margin-bottom: 0px;
}

.country-card {
	width: 90%;
	max-width: 430px;
	background: linear-gradient(135deg, #0033fe, #ab5ccd);
	border: 5px solid rgb(255, 114, 206);
	color: #ffffff;
	margin: 100px auto;
	border-radius: 20px;
	padding: 40px 35px;
	text-align: center;
	box-shadow: 0 0 30px rgb(225, 116, 1);
}

img {
	border: 1px solid black;
	box-shadow: 0 0 10px black;
	margin-top: 30px;
}

.search-bar {
	position: relative;
}

input {
	border-radius: 20px;
	padding-left: 20px;
}

.search-bar i {
	position: absolute;
	top: 42%;
	transform: translateY(-50%) translateX(-210%);
	color: rgb(91, 91, 91);
	cursor: pointer;
}

/* Responsive layout - 
Changes attributes if window is less than 800 px*/
@media screen and (max-width: 450px) {
	.search-bar i {
		display: none;
	}
}