/* Style sheet for custom cursor */
/* Source: https://dev.to/b4two/how-to-make-a-custom-cursor-with-css-and-jquery-5g3m */
html,
* {
	cursor: none;
}

/* Style cursor */
.cursor {
	position: fixed;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-webkit-transition: .05s;
	transition: transform .15s;
	background-color: rgb(250, 131, 40);
	z-index: 9999;
	pointer-events: none;
	mix-blend-mode: difference;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/* Add dot to cursor center */
.cursor::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(20,20,20,.95);
}

/* Revert back to default cursor for mobile users */
@media screen and (max-width: 800px) {
    html,
	* {
		cursor: auto;
	}
	
	.cursor {
		display: none;
	}
}