/* Used for declaring global CSS variables */
:root {
    /* These are the official University of Athabasca brand colors */
    --color-theme-1: rgba(41, 41, 53, 1);
    --color-theme-2: rgba(27, 54, 93, 1);
    --font-theme-1: rgba(208, 209, 211, 1);
    --font-theme-2: rgba(241, 90, 34, 1);
    --link-color: rgba(253, 185, 36, 1);
    --button-background: rgba(52, 104, 177, 0.5);
	--icon-background: rgb(77, 77, 99);
	--icon-border: rgb(112, 112, 143);
	--container-color-1: rgba(41, 41, 53, 1);
	--container-color-2: rgba(27, 54, 93, 1);
	--text-shadow-color: rgba(0, 0, 0, 0.8);
}

/* Add class for light mode colors */
.light-mode {
	--color-theme-1: #d5fad5;
    --color-theme-2: #F2F8FE;
    --font-theme-1: rgba(41, 41, 53, 1);
    --link-color: #0086ce;
    --button-background: rgba(155, 163, 251, 0.5);
	--icon-background: #efffef;
	--icon-border: rgb(208, 208, 226);
	--container-color-1: #d5fad5;
	--container-color-2: #F2F8FE;
	--text-shadow-color: rgba(0, 0, 0, 0);
  }

/* Make changes that affect entire html document */
html {
    word-spacing: 2px;
    line-height: 1.5rem;
    text-align: justify;

    /* Add smooth scrolling */
    scroll-behavior: smooth;
}

/* Create box effect for paragraphs */
.paragraph-container-1,
.paragraph-container-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 40px;
	border-radius: 20px;
	border: 1px solid var(--link-color);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	margin: 30px 0px 50px 0px;
}

/* Overrides top margin of previous style */
#contact-form.paragraph-container-1 {
	margin-top: 0px;
}

.paragraph-container-1 {
	background-color: var(--container-color-1);
}

.paragraph-container-2 {
	background-color: var(--container-color-2);
}

/* Add margins to image container */
.image-container {
	margin-top: -30px;
	margin-bottom: 20px;
}

/* Style body element */
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--font-theme-1);
    background-color: var(--color-theme-1);
    margin: 0px;
	font-size: 110%;
}

/* Style header */
header {
    padding: 0px 350px;
}

/* Make secondary font color orange */
.secondary-font-color {
    color: var(--font-theme-2);
}

/* Make every second segment dark blue */
.block-theme {
    background-color: var(--color-theme-2);
}

/* Make all links appear yellow */
a {
    color: var(--link-color);
    text-decoration: none;
}

/* Style nav bar with flexbox*/
nav {
    margin: 0px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Use flexbox to align button container*/
#toggle-button-container {
    display: flex;
    align-self: flex-start;
}

/* Style button */
#toggle-button {
    background-color: var(--color-theme-1);
    border: none;
}

/* Show pointer upon mouse hover */
button:hover {
    cursor: pointer;
}

/* Style nav links */
nav a{
    padding: 0px 30px 25px 30px;
    font-size: 22px;
    font-weight: 600;
}

/* Underline links upon mouse hover */
a:hover {
    text-decoration: underline;
}

/* Style h1 */
h1 {
    letter-spacing: 2px;
    font-size: 54px;
    font-variant: small-caps;
}

/* Style h2 */
h2 {
    letter-spacing: 1px;
	font-size: 34px;
	margin: 50px 0px 50px 0px;
}

/* Style h3 */
h3 {
	font-size: 25px;
	margin-bottom: 30px;
}

h3.email {
	font-size: 20px;
	color: var(--link-color);
	margin-top: -10px;
}

/* Add text shadow to all headers */
h1,
h2,
h3,
nav {
	text-shadow: 2px 2px 10px var(--text-shadow-color);
}

/* Add flexbox to center items horizontally */
h1,
h2,
h3,
.table-container,
.segment-image,
.icon-container {
    display: flex;
    justify-content: center;
}

/* Segments are the main content container in each section */
.segment {
    padding-left: 20px;
    padding-right: 20px;
}

/* Style text contained within segment */
.segment-text{
    max-width: 50%;
    padding: 0px;
    /* margin: 0px 40px; */
}

/* Specify dimensions of student-pic */
#student-pic {
    height: 300px;
    width: 300px;
}

/* Add line-through for completed list items */
.completed {
    text-decoration-line: line-through;
}

/* Style table elements */
table,
td,
th {
    /* Make table borders solid yellow */
    border: 1px solid var(--link-color);

    /* Make table borders single line */
    border-collapse: collapse;
}

/* Style table headers and data cells */
th,
td {
    text-align: left;
    height: 30px;
    padding: 5px 10px;
}

/* Style content contained in lists */
.list-content {
    padding: 0px 20px;
    margin: 10px;
    border-radius: 10px;
    min-width: 210px;
    border: 1px solid var(--link-color);
}

/* Make list container lighter color when hovered over */
.list-content:hover {
    background-color: rgba(187,187,190,0.2);
}

/* Add flexbox to center items vertically */
header,
.segment,
.list-text,
.project-items,
.made-with-container,
.form-container,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style text contained in lists */
.list-text {
    padding: 0px;
    list-style-type: none;
}

/* Add bottom margin to list */
li {
    margin-bottom: 5px;
}

/* Style project div */
.project-div {
    /* Add yellow division line between projects */
    border-top: 2px solid var(--link-color);
    padding-bottom: 25px;
}

/* Make every project icon uniform size */
.project-icon {
    width: 60px;
    height: 60px;
}

/* Add gray border to project thumbnails */
.thumbnail-border {
    border: 5px solid var(--link-color);
	border-radius: 50px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

/* Make border yellow upon hover */
.thumbnail-border:hover {
	border: 5px solid rgba(208, 209, 211, 1);
}

.project-header {
	margin-top: 40px;
}

/* Add margins to form container */
.form-container {
    margin: 0px 75px;
}

/* Style form */
form {
    padding: 1em;
    border-radius: 1em;
    box-sizing: border-box;
    min-width: 350px;
    margin-bottom: 20px;

    /* Create yellow border around form */
    border: 1px solid var(--link-color);
}

/* Limit form field container to 90% */
.field-container {
    width: 90%;
}

/* Style form fields with flexbox  */
.name-container {
    display: flex;
    flex-direction: column;
}

/* Allow user to vertically resize 'Message' field */
textarea {
    resize: vertical;
    border: 2px solid black;
}

/* Add margins to label */
label {
    margin: 10px 0px;
}

/* Style all input and textarea for contact form */
input,
textarea {
    padding: 0.55rem;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-radius: 0.25rem;
    background-color: rgb(221, 221, 255);
}

/* Style 'Submit' button */
.submit-container input {
    margin-top: 15px;
    width: 100%;
    font-variant: small-caps;
}

/* Change color of 'Submit' button upon mouse hover */
.submit-container input:hover {
    cursor: pointer;
    background-color: rgba(253, 185, 36, 1);
}

/* Adjust footer font size */
footer {
    font-size: 1rem;
}

/* Align copyright info */
#copyright {
    text-align: center;
}

/* Adjust height and width of up arrow */
.up-arrow {
    height: 25px;
    width: 25px;
} 

/* Style back to top button */
#go-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 1vw; /* Place the button at the bottom of the page */
    right: 1vw; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 2px solid black; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--button-background); /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

/* Add a dark-grey background on hover */
#go-top:hover {
background-color: #555;
}

/* Hide hamburger menu when not in mobile mode */
.fa-bars {
    font-size: 0%;
}

/* Style form error text */
.form-error {
    font-size: 0.8rem;
    color: red;
    font-weight: bold;
}

/* Style skills background */
.skills-background {
	padding: 10px;
	border-top-left-radius: 1rem;
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Assign height and width to skill icons */
.skill-icon {
	height: 50px;
	width: 50px;
}

.skills-text {
	color: black;
}

/* Format skills container */
.skills-container {
	display: flex;
	flex-direction: row;
	border-top-left-radius: 1.3rem;
	margin: 0px 25px 20px 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

/* Format skills experience box */
.skills-exp {
	background-color: black;
	height: 60px;
	width: 120px;
	padding: 10px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 700;
	font-size: large;
	color: rgba(208, 209, 211, 1);
}

/* Make skills-exp font black and bold upon hover */
.skills-exp:hover {
	color: black;
	font-weight: 900;
}

.tech-exp {
	font-weight: 700;
	font-size: smaller;
}

/* Style credentials container */
.credentials-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: rgb(77, 77, 99);
	padding: 20px 10px 0px 10px;
	border-radius: 20px;
	border: 1px solid var(--link-color);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	margin-bottom: 50px;
}

#bash-skill,
#js-skill {
	background-color: #f7df1e;
	border: 4px solid #f7df1e;
}

#python-skill,
#excel-skill {
	background-color: #3bee1c;
	border: 4px solid #3bee1c;
}

#r-skill,
#github-skill {
	background-color: #b65cfc;
	border: 4px solid #b65cfc;;
}

#sql-skill,
#photoshop-skill {
	background-color: #fd4952;
	border: 4px solid #fd4952;
}

#css-skill,
#vscode-skill {
	background-color: #1eccf7;
	border: 4px solid #1eccf7;
}

#html-skill,
#git-skill {
	background-color: rgb(244, 145, 64);
	border: 4px solid rgb(244, 145, 64);
}

/* Style icon background */
.icon-background {
	/* background-color: var(--icon-background); */
	padding: 10px;
	border-radius: 5%;
	margin: 0px 20px;
	height: 80px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid white;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
}

.skills-exp:hover.orange-container,
.orange-background {
	background-color: rgb(244, 145, 64);
}

.skills-exp:hover.blue-container,
.blue-background {
	background-color: #1eccf7;
}

.skills-exp:hover.yellow-container,
.yellow-background {
	background-color: #f7df1e;
}

.skills-exp:hover.purple-container,
.purple-background {
	background-color: #b65cfc;
}

.skills-exp:hover.green-container,
.green-background {
	background-color: #3bee1c;
}

.skills-exp:hover.red-container,
.red-background {
	background-color: #fd4952;
}

/* Display box shadow upon mouse hover */
.icon-background:hover {
	box-shadow: 0 0 40px rgba(34, 155, 242, 0.6);
}

/* Make 'hidden' class transition in from the left */
.hidden {
	opacity: 0;
	transition: 0.35s;
	filter: blur(3px);
	transform: translateX(-100%);
} 

/* Reveal the hidden class */
.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

/* Create 'stagger' effect for 2nd image */
.hidden:nth-child(2) {
	transition-delay: 300ms;
}

/* Create 'stagger' effect for 3rd image */
.hidden:nth-child(3) {
	transition-delay: 500ms;
}

/* Change scrollbar size on webkit browsers */
::-webkit-scrollbar {
	width: 8px;
  }

/* Change scrollbar color on webkit browsers */
::-webkit-scrollbar-thumb {
	background-color: rgb(244, 112, 64);
}

/* Change scrollbar size on firefox browsers */
::-moz-scrollbar {
	width: 8px;
}

/* Change scrollbar color on firefox browsers */
::-moz-scrollbar-thumb {
	background-color: rgb(244, 112, 64);
}

/* use flexbox to style top-section */
#top-section {
	display: flex;
	justify-content: center;
}

/* Style monitor container */
.monitor-container {
	max-width: 40%;
	margin: 2% 0% 5% 0%;
	position: relative;
}

.monitor-container img {
	max-width: 100%;
}

/* Style text within "computer monitor" image */
.top-text-static,
.middle-text-static,
.bottom-text-dynamic {
	color: rgba(208, 209, 211, 1);
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	z-index: 2;
	position: absolute;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	font-size: 4vw;
}

.top-text-static {
	top: 18%;
}

.middle-text-static {
	top: 34%;
}

/* Style bottom dynamic text */
.bottom-text-dynamic {
	top: 50%;
	color: rgba(253, 185, 36, 1);
	font-weight: 700;
}

.expand h3 {
	font-size: 1.2rem;
	margin-top: -0.2rem;
	margin-bottom: -0.3rem;
	color: var(--link-color);
}

.expand table {
	margin-top: 1.8rem;
}

/* Responsive layout - 
Changes attributes if window is less than 1279 px*/
@media screen and (max-width: 1279px) {
    .segment-text {
        max-width: 92%;
		margin: 0px 15px;
    }
}

/* Responsive layout - 
Changes attributes if window is less than 800 px*/
@media screen and (max-width: 800px) {
    html {
        text-align: start;
    }

    header {
        padding: 0px 50px;
    }

    nav {
        flex-direction: column;
        height: fit-content;
    }

    #toggle-button-container {
        align-self: center;
    }

    body {
        min-width: 400px;
    }

	img,
	.icon-container {
		max-width: 100%;
		height: auto;
	}

    .navbar a,
    .theme-toggle {
        display: none;
    }

    .navbar.adaptive a,
    .theme-toggle.adaptive {
        display: block;
    }

    .theme-toggle {
        padding-bottom: 1rem;
    }

    .fa-bars {
        display: block;
        font-size: 1.5rem;
        padding-bottom: 1.3rem;
    }

    .fa-bars:hover {
        cursor: pointer;
    }

	.icon-background {
		margin: 0 10px;
		width: 70px;
		height: 70px;
	}

	h1 {
		font-size: 42px;
	}

	.paragraph-container-1,
	.paragraph-container-2 {
		padding: 20px;
	}

	table {
		font-size: 12px;
	}
}