/* Used for declaring global CSS variables */
:root {
    /* These are the official University of Athabasca brand colors */
    --color-theme-1: rgba(41, 41, 53, 1);
    --color-theme-2: rgba(27, 54, 93, 1);
    --font-theme-1: rgba(208, 209, 211, 1);
    --font-theme-2: rgba(241, 90, 34, 1);
    --link-color: rgba(253, 185, 36, 1);
}

/* Add class to toggle dark mode */
.dark-mode {
    background-color:  #E6F0E6;
    --color-theme-2: #F2F8FE;
    color: var(--color-theme-1);
    --link-color: #0086ce;
  }

/* Make changes that affect entire html document */
html {
    word-spacing: 2px;
    line-height: 1.5rem;
    text-align: justify;

    /* Add smooth scrolling */
    scroll-behavior: smooth;
}

/* Style body element */
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--font-theme-1);
    background-color: var(--color-theme-1);
    margin: 0px;

    /* When toggling between light/dark mode, add transistion time */
    transition: background-color 0.2s, color 0.2s;
}

header {
    padding: 0px 350px;
}

/* Make secondary font color orange */
.secondary-font-color {
    color: var(--font-theme-2);
}

/* Make every second segment dark blue */
.block-theme {
    background-color: var(--color-theme-2);
}

/* Make all links appear yellow */
a {
    color: var(--link-color);
    text-decoration: none;
}

/* Style nav bar with flexbox*/
nav {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Style toggle button */
#toggle-button {
    display: flex;
    align-self: flex-start;
}

/* Style nav links */
nav a{
    padding: 0px 30px 25px 30px;
    font-size: 20px;
    font-weight: 600;
}

/* Underline links upon mouse hover */
a:hover {
    text-decoration: underline;
}

h1 {
    letter-spacing: 2px;
    font-size: 40px;
    font-variant: small-caps;
}

h2 {
    letter-spacing: 1px;
}

/* Add flexbox to center items horizontally */
h1,
h2,
h3,
.table-container,
.segment-image {
    display: flex;
    justify-content: center;
}

/* Segments are the main content container in each section */
.segment {
    padding-left: 20px;
    padding-right: 20px;
}

/* Style text contained within segment */
.segment-text{
    max-width: 50%;
    padding: 0px;
    margin: 0px 40px;
}

/* Specify dimensions of student-pic */
#student-pic {
    height: 300px;
    width: 300px;
}

/* Add line-through for completed list items */
.completed {
    text-decoration-line: line-through;
}

table,
td,
th {
    /* Make table borders solid yellow */
    border: 1px solid var(--link-color);

    /* Make table borders single line */
    border-collapse: collapse;
}

/* Style table headers and data cells */
th,
td {
    text-align: left;
    height: 30px;
    padding: 5px 10px;
}

/* Style content contained in lists */
.list-content {
    padding: 0px 20px;
    margin: 10px;
    border-radius: 10px;
    min-width: 210px;
    border: 1px solid var(--link-color);
}

/* Make list container lighter color when hovered over */
.list-content:hover {
    background-color: rgba(187,187,190,0.2);
}

/* Add flexbox to center items vertically */
header,
.segment,
.list-text,
.project-items,
.made-with-container,
.form-container,
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style text contained in lists */
.list-text {
    padding: 0px;
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

#my-projects-text {
    padding-bottom: 10px;
}

.project-div {
    /* Add yellow division line between projects */
    border-top: 2px solid var(--link-color);
    padding-bottom: 25px;
}

/* Make every project icon uniform size */
.project-icon {
    max-width: 70px;
    max-height: 70px;
}

/* Add solid gray border to project thumbnails */
.thumbnail-border {
    border: 5px solid var(--font-theme-1);
}

/* Style list and icon containers with flexbox */
.list-container,
.icon-container {
    display: flex;
    justify-content: space-evenly;
}

.list-container {
    margin-bottom: 10px;
}

.form-container {
    margin: 0px 75px;
}

/* Style form */
form {
    padding: 1em;
    border-radius: 1em;
    box-sizing: border-box;
    min-width: 350px;
    margin-bottom: 20px;

    /* Create yellow border around form */
    border: 1px solid var(--link-color);
}

.field-container {
    width: 90%;
}

/* Style form fields with flexbox  */
.name-container {
    display: flex;
    flex-direction: column;
}

/* Allow user to vertically resize 'Message' field */
textarea {
    resize: vertical;
    border: 2px solid black;
}

label {
    margin: 10px 0px;
}

/* Style all input and textarea for contact form */
input,
textarea {
    padding: 0.55rem;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-radius: 0.25rem;
    background-color: rgb(221, 221, 255);
}

/* Style 'Submit' button */
.submit-container input {
    margin-top: 15px;
    width: 100%;
    font-variant: small-caps;
}

/* Change color of 'Submit' button upon mouse hover */
.submit-container input:hover {
    cursor: pointer;
    background-color: var(--link-color);
}

footer {
    font-size: 0.8rem;
}

#copyright {
    text-align: center;
}

/* Responsive layout - 
Changes attributes if window is less than 1279 px*/
@media screen and (max-width: 1279px) {
    .segment-text {
        max-width: 80%;
    }
}

/* Responsive layout - 
Changes attributes if window is less than 800 px*/
@media screen and (max-width: 800px) {
    html {
        text-align: start;
    }

    header {
        padding: 0px 50px;
    }

    nav {
        flex-direction: column;
    }

    #toggle-button {
        align-self: center;
    }

    body {
        min-width: 400px;
    }

    img {
        max-width: 100%;
    }

    .list-container {
        flex-direction: column;
        align-items: center;
    }
}