:root {
    /* These are the official University of Athabasca brand colors */
    --color-theme-1: rgba(41, 41, 53, 1);
    --color-theme-2: rgba(27, 54, 93, 1);
    --font-theme-1: rgba(208, 209, 211, 1);
    --font-theme-2: rgba(241, 90, 34, 1);
    --link-color: rgba(253, 185, 36, 1);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--font-theme-1);
    background-color: var(--color-theme-1);
    margin: 0px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3{
    white-space: nowrap;
}

h1 {
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 40px;
    font-variant: small-caps;
}

h2 {
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
}

h3, .table-container, .segment-image, .list-content h3 {
    display: flex;
    justify-content: center;
}

.completed {
    text-decoration-line: line-through;
}

.secondary-font-color {
    color: var(--font-theme-2);
}

.block-theme {
    background-color: var(--color-theme-2);
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid;
    border-color: var(--link-color);
}

th, td {
    text-align: left;
    height: 30px;
    padding: 5px 10px;
}

.list-content {
    background-color: rgba(41, 41, 53, 0.5);
    padding: 0px 20px;
    margin: 10px;
    border-radius: 10px;
    min-width: 210px;
}

.list-content:hover {
    background-color: rgba(187,187,190,0.2);
}

.list-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

.project-items {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    display: flex;
    justify-content: left;
}

#projects p {
    margin-top: 0px;
}

#project-text {
    padding-bottom: 10px;
}

.project-div {
    border-top: 2px solid var(--link-color);
    padding-bottom: 25px;
}

#projects {
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.project-icon {
    max-width: 70px;
    max-height: 70px;
}

.thumbnail-border {
    border: 5px solid var(--font-theme-1);
}

.made-with-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
}

.list-container, .icon-container {
    display: flex;
    justify-content: space-evenly;
}

.form-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 75px;
}

form {
    padding: 1em;
    border: 1px solid var(--link-color);
    border-radius: 1em;
    box-sizing: border-box;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.field-container {
    width: 90%;
}

.segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.segment-text{
    max-width: 50%;
    padding: 0px;
    margin: 0px 40px;
}

.student-img {
    margin: 0px 75px;
    padding: 0px;
}

#student-pic {
    height: 300px;
    width: 300px;
}

header {
    display: flex;
    padding: 0px 350px;
    flex-direction: column;
}

nav {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a{
    padding: 0px 30px 25px 30px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

.list-container {
    margin-bottom: 10px;
}

.name-container {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
}

label {
    margin: 10px 0px;
}

input, textarea {
    padding: 0.55rem;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-radius: 0.25rem;
    background-color: rgb(221, 221, 255);
}

.submit-container input {
    margin-top: 15px;
    width: 100%;
    font-variant: small-caps;
}

.submit-container input:hover {
    cursor: pointer;
    background-color: var(--link-color);
  }

/* Responsive layout*/
@media screen and (max-width: 1279px) {
    .project-div {
        flex-direction: column;
    }

    .segment-text {
        max-width: 80%;
    }
}

@media screen and (max-width: 800px) {
    header {
        padding: 0px 50px;
    }

    nav {
        flex-direction: column;
    }

    body {
        min-width: 400px;
    }

    img {
        max-width: 100%;
    }

    .list-container {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        display: flex;
        justify-content: center;
    }
}